@import '../plugins-0/plugins';
//Colors
$bg-c-caption: rgba(2, 117, 216, .6);
$lightgray: #d3d3d3;
$c-caption: rgba(246, 246, 246, 1);
$gray: #808080;
$trsprt-gray:rgba(85, 85, 85, .4);
$black01: #111;
$light-black: #222;
$main-font-color: #000;
$white: #fff;

// General
* {
  box-sizing: border-box;
}

body {
  background-color: $lightgray;
  color: $main-font-color;
  display: flex;
  flex-direction: column;
  margin-top: 56px;
  min-height: calc(100vh - 40px);
  width: 100%;
}

.container {
  margin: 0 1rem;
}



ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

// elements
collapse-nav {
  margin: 0;
  padding: 0;
}

.navbar {
  box-shadow: 0 2px 2px  $gray;
}

.nav-top.container {
  display: flex;
  margin-left: 0;
}

.navbar-brand {
  padding-left: 1rem;
}

.nav-collapse {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  margin: 0;

  li {
    border-bottom: 2px solid $white;
    text-align: center;

    &:hover {
      background: lighten($bg-c-caption, 10);
    }

    &:last-child {
      border-bottom: 0;
    }

    a {
      color: $white;
      display: block;
      font-weight: bold;
      padding: 1rem;
    }
  }


}

.jumbotron {
  background: lighten($lightgray, 10);
  margin: 0;
  padding: 1rem 1.5rem;
  width: 100%;

  .search-bar {
    margin: 0;
    // width: 100%;
  }

  p {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.book-showcase {
  border-bottom: 1px solid $trsprt-gray;

}

.container:nth-last-of-type(1) .book-showcase {
  border-bottom: 0;
}

.list-title {
  padding-top: 1.5rem;
}

///////////////////
//***Carousel***///
///////////////////

.carousel {

  margin-bottom: 2rem;

  ul {
    display: flex;
    justify-content: center;
  }

  li {
    // display: inline-block;
    position: relative;
    vertical-align: top;
  }

  .carousel-card {

    margin-top: 1.5rem;

    .carousel-cover {
      box-shadow: -.5rem 0 1rem $black01;
      height: 8rem;
      margin: 0 -1.2rem 0 0;

    }

    .carousel-time {
      align-items: center;
      background-color: $bg-c-caption;
      border-radius: 50%;
      color: $c-caption;
      display: block;
      font-size: .55rem;
      font-weight: bold;
      height: 2rem;
      left: -1.2rem;
      line-height: 2rem;
      position: absolute;
      text-align: center;
      top: .5rem;
      width: 2rem;
    }
  }
}

footer {
  margin-top: auto;
  padding: .5rem;
}

.search-results-bar {
  align-items: center;
  display: flex;
  padding: .7rem;

  nav {
    margin-left: auto;

    ul {
      margin: 0;
    }
  }

  h4 {
    font-size: .75rem;
    font-weight: normal;

    .search-term {
      font-style: italic;
      font-weight: bold;
    }
  }
}



.search-container {
  background: $white;
  border-radius: 3px;
  margin: 12px auto;
  padding: 15px;
}

// Info Cards
.info-card {
  background: $lightgray;
  border-radius: 5px;
  display: flex;
  margin-bottom: 1.5rem;
  padding: 10px;
}

.info-card-details-info {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: .5rem;

  .info-card-details-title {
    font-size: 1.05rem;
    margin-bottom: .1rem;
  }

  .info-card-details-author {
    font-size: .65rem;
    margin-bottom: .4rem;
  }

  img {
    flex-grow: 0;
    margin-top: auto;
  }
}

.info-card-details-time {

  margin-bottom: .3rem;

  .info-card-details-time-title {
    font-size: .9rem;
    margin-bottom: .2rem;
    text-decoration: underline;

  }

  .info-card-details-time-amount {
    background-color: $bg-c-caption;
    border-radius: 5px;
    color: $white;
    display: block;
    font-size: .8rem;
    font-weight: bold;
    margin-right: .3rem;
    padding: .3rem;
  }

}

.info-card-details-cover {
  display: flex;
  flex-direction: column;
  margin-right: .7rem;

  img {
    box-shadow: 0 0 4px $light-black;
    height: 7rem;
    margin: 0 auto .3rem;
  }

  .info-card-details-link {
    font-size: .8rem;
    font-weight: bolder;
    line-height: 1rem;
    margin: auto;
    text-align: center;
  }

}

.info-card-details-table {
  display: flex;
  flex-direction: column;
  font-size: .9rem;
  justify-content: center;

  tr:nth-last-of-type(n + 2) {
    border-bottom: 1px solid $gray;
  }

  th {
    font-weight: bold;
    padding-right: .5rem;
  }


  @media (max-width: 480px) {
    display: none;
  }
}
