@import "../plugins-0/_plugins.scss";
//Colors
$bg_c_caption: rgba(2, 117, 216, .6);

$c_caption: rgba(246,246,246, 1);

$main-font-color: #000;

// General



* {
	box-sizing: border-box;
}

body {
	margin-top: 56px;
	background-color: lightgray;
}

ul {
	list-style: none;
}

h1,h2,h3,h4,h5,h6,
p {
	margin: 0;
	padding: 0;
}

// elements 

.navbar{
	box-shadow: 0 2px 2px  gray;
}

.navbar-brand {
	padding-left: 1rem;
}

.jumbotron {
	padding: 1rem 1.5rem 1rem;
	margin: 0;

	p {
		padding-bottom: 0;
		margin-bottom: 0;
	}
}

.book-showcase {
	border-bottom: 1px solid rgba(85, 85, 85, .4);

}

.container:nth-last-of-type(1) .book-showcase {
	border-bottom: none;
}

.list-title {
	padding-top: .5rem;
}

.carousel {

	li {
		position: relative;
		vertical-align: top;
		display: inline-block;
	}

	.carousel-card {
		
		margin-top: 1.5rem;
		
		.carousel-cover {

			margin-left: auto;
			margin-right: auto;
			height: 8rem;
			margin: 0 -.6rem 0;
			box-shadow: -0.5rem 0 1rem #111;
		}

		.carousel-time {
			position: absolute;
			top: .5rem;
			left: -1.2rem;
			background-color: $bg_c_caption;
			width: 2rem;
			height: 2rem;
			border-radius: 50%;
			color: $c_caption;
			font-weight: bold;
			font-size: .55rem;
			display: block;
			align-items: center;
			text-align: center;	
			line-height: 2rem;
		}
	}
	
}



.search-results {
	background: #f6f6f6;
	border-radius: 10px;
	padding: 1rem;

	ul {
		padding: 0;
	}

	.search-details-cover {
		display: inline-block;
		padding-right: 1rem;
		vertical-align:  top;
		text-align: center;

		img{
			height: 7rem;
		}

		.details-link {
			font-weight: bolder;
			margin-bottom: 0;
		}

	}

	.search-details-time {

		margin-top: .4rem;
		.search-details-time-title {
			text-decoration: underline;
		}

		.search-details-time-amount {
			font-style: 1.1rem;
			font-weight: bold;
			background-color: $bg_c_caption;
			color: white;
			border-radius: 5px;
			padding: .3rem;
			margin-right: .3rem;
			display: block;
		}

	}


	.search-details-info {
		display: inline-block;

		.search-details-time {
			display: inline-block;
			vertical-align: top;
		}

		.amazon-banner-01 {
			display: inline-block;
			vertical-align: top;
		}

		.search-details-table {
			display: inline-block;

			tr:nth-last-of-type(n + 2) {
				border-bottom: 1px solid #ccc;

			}
			th {
				padding-right: .5rem;
			}
		}
	}
}

footer {
	padding: .5rem;
	margin-top: 1.5rem;
}


* {
	box-sizing: border-box;
	// font-family: $helvetica !important;
	// font-family: $helvetica !important;
	font-family: $lucida-grande !important;
	// font-family: $monospace !important;
	// font-family: $verdana !important;
}

body{
	width: 100%;
	height: 100%;
	padding-left: 5%;
	padding-right: 5%;
	background: #e8e9e9;
	color: $main-font-color;

}
.container-test {
	margin: 45px auto;
	padding: 15px;
	border-radius: 3px;
	background: #fff;
}
.search-card-test{
	margin-bottom: 1.5rem;
	padding: 10px;
	border-radius: 5px;
	background: #e2e2e2;
	display: flex;

	.search-details-cover-test {
		margin-right: .7rem;
		display: flex;
		flex-direction: column;
	

		.details-link-test {
			text-align: center;
			font-weight: bolder;
			margin-top: auto;
			font-size: .8rem;
			line-height: 1rem;
		}

		img {
			margin: 0 auto .3rem;
			height: 7rem;
			box-shadow: 0px 0px 4px #222
		}
	}
	
	.search-details-info-test {
		margin-right: .5rem;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;

		.search-details-title-test {
			margin-bottom: .1rem;
			font-size: 1.05rem;
		}

		.search-details-author-test {
			margin-bottom: .4rem;
			font-size: .65rem;
		}


		.search-details-time-test {
			
			margin-bottom: .3rem;

			.search-details-time-title-test {
				text-decoration: underline;
				margin-bottom: .2rem;	
					font-size: .9rem;
		
			}

			.search-details-time-amount-test {
				font-size: .8rem;
				font-weight: bold;
				background-color: $bg_c_caption;
				color: white;
				border-radius: 5px;
				padding: .3rem;
				margin-right: .3rem;
				display: block;
			}

		}

		img {
			flex-grow: 0;
			margin-top: auto;
		}
	}

	.search-details-table-test {
		display: flex;
		flex-direction: column;
		font-size: .9rem;
		justify-content: center;
		tr:nth-last-of-type(n + 2) {
			border-bottom: 1px solid #ccc;

		}
		th {
			padding-right: .5rem;
			font-weight: bold;
		}


		@media (max-width: 480px) {
			display: none;
		}
	}

}
