//Colors
$caption_black: rgba(2, 117, 216, .6);

$c_caption: rgba(246,246,246, 1);

// General


body {
	
	background-color: lightgray;
}

ul {
	list-style: none;
}

.navbar-brand {
	padding-left: 1rem;
}

.jumbotron {
	padding: 1rem 1.5rem 1rem;
	margin: 0;

	p {
		padding-bottom: 0;
		margin-bottom: 0;
	}
}

.book-showcase {
	border-bottom: 1px solid rgba(85, 85, 85, .4);
}

.list-title {
	padding-top: .5rem;
}

.carousel {

	li {
		position: relative;
		vertical-align: top;
		display: inline-block;
	}

	.carousel-card {
		
		margin-top: 1.5rem;
		
		.carousel-cover {

			margin-left: auto;
			margin-right: auto;
			height: 8rem;
			margin: 0 -.6rem 0;
			box-shadow: -0.5rem 0 1rem #111;
		}

		.carousel-time {
			position: absolute;
			top: .5rem;
			left: -1.2rem;
			background-color: $caption_black;
			width: 2rem;
			height: 2rem;
			border-radius: 50%;
			color: $c_caption;
			font-weight: bold;
			font-size: .55rem;
			display: block;
			align-items: center;
			text-align: center;	
			line-height: 2rem;
		}
	}
	
}

footer {
	padding: .5rem;
	margin-top: 1.5rem;
}