nav.navbar.navbar-dark.navbar-fixed-top.bg-primary.text-white
  .container.nav-top
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#exCollapsingNavbar', aria-controls='exCollapsingNavbar', aria-expanded='false', aria-label='Toggle navigation')
      a.navbar-brand(href='#') ReadMeter

  #exCollapsingNavbar.collapse
    .bg-primary.text-white
      ul.nav-collapse
        for page in ["Home1", "About", "Browse"]
          li
            a(href= "#{page}.html") #{page}
