nav.navbar.navbar-dark.navbar-fixed-top.bg-primary.text-white
  .container.nav-top
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#exCollapsingNavbar', aria-controls='exCollapsingNavbar', aria-expanded='false', aria-label='Toggle navigation')
      a.navbar-brand(href='#') ReadMeter

  #exCollapsingNavbar.collapse.collapse-nav
    .bg-primary.text-white
      ul.nav-collapse
        for page in ["Home", "Browse", "About"]
          li
            - var link = page.toLowerCase()
            if page == "Home"
              - var link = "index"
            a(href= "#{link}.html") #{page}
