//output:../output.html
include variables
include mixins 

for book in books
  div(class = "book#{book.id}") #{book.name}

mixin carousel-section(title, books)
      - var titleClass = title.toLowerCase().replace(" ","-")
      .container
        .row.book-showcase.quick-reads
          div(class = "col-xs-12.list-#{titleClass}")
          //- #{title-class}
            h6.section-title
              | {#title}
              span.tag.tag-default.float-xs-right See All
          .col-xs-12.carousel
              ul
                for book in books
                  +carousel-book(book) 

+carousel-section("Quick Reads", books.slice(0,4))
