//output:../../browse.html
extends ../base

append jumbotron
  .row.pt-1.text-xs-center
    h4 Reading Is Fun
    p.small We are here to help you make the most of it!

block content
  include ../variables      
  include ../mixins
  .container
    h1 Browse our books
  for book in books
    +info-card(book, "search")
  +carousel-section("Now Trending", books.slice(4,8))
      
